<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protein Details</title>
</head>
<body>
    <h1>Protein Details</h1>
    <p><strong>Code:</strong> {{ protein.protein_code }}</p>
    <p><strong>Name:</strong> {{ protein.protein_name }}</p>
    <p><strong>Gene_Names:</strong> {{ protein.gene_names }}</p>
    <p><strong>Organism:</strong> {{ protein.Organism }}</p>
    <p><strong>Length:</strong> {{ protein.Length }}</p>
    <p><strong>Long_Names:</strong> {{ protein.protein_names }}</p>

    <!-- Add any other fields you may have in proteins.csv here.
         For example:
         <p><strong>Function:</strong> {{ protein.function }}</p> -->

    <p><a href="/">Back to Search</a></p>
</body>
</html>
